*{
    margin:0;
    padding:0;
}

*, ::before, ::after{
    box-sizing: inherit;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    color: #323e2e;
}

section{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    overflow: hidden;
}

h1{
    border-left: 8px solid #517bae;
    margin-bottom: 20px;
    padding-left: 10px;
}

h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

@media(max-width: 768px){
    section{
        width: 358px;
    }
}
@media (max-width: 1199px) and (min-width: 769px) {
    section{
        width: 675px;
    }
}

/* navigation bar*/

nav {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 10;
    background: #ffffff;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-flex;
}

.nav-list title{
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 8px 20px;
}

.nav-list a{
    display: inline-block;
    color: #323e2e;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
}

.nav-list a:hover{
    background-color: #d5d5d5;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
}

.dropdown-content a{
    display: block;
    color: #323e2e;
    text-align: left;
    text-decoration: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.active{
    background-color: #d1dff2;
}

/* aside menu */

#hz-logo{
    padding: 0;
    margin: 0;
    width: 250px;
    margin-top: 2rem;
}

.aside-menu {
    width: 100%;
    height: 35vh;
    background-color: #d8dfe4;
}



.aside-menu a {
    color: #353535;
    font-size: 16px;
    text-decoration: none;
}

.aside-menu a:hover{
    color:#0249fd95;
}

.aside-menu-list li{
    list-style: none;
}

.aside-menu-column {
    float: left;
    width: 30%;
    margin: 30px 0px 0 40px;
    padding-left: 40px;
}

.aside-menu-column h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

#gmail, #whatsapp, #ins{
    margin-right: 20px;
    width: 22px;
    transition: 0.5s;
}

#gmail:hover{
    width: 30px;
}

#whatsapp:hover{
    width: 30px;
}

#ins:hover{
    width: 30px;
}

/* footer */

footer{
    margin: 10px;
    padding: auto;
    text-align: center;
}
