*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smoot;
}

body{
    background-color: #eeeeee;
    color: #323e2e;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* navigation bar*/

nav {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 10;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffffff;
}

.nav-list li{
    float: left;
}

.nav-list a{
    display: inline-block;
    color: #323e2e;
    padding: 15px 15px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
}

#hz-logo{
    padding: 0;
    margin-right: 15px;
}

.nav-list a:hover{
    background-color: #d5d5d5;
}

.active{
    background-color: #d1dff2;
}

/* Index page - First part*/

#robot{
    margin-top: 40px;
    width:100%;
    border: 10px;
    padding: 50px;
}

.index-imgbox01 {
    position: relative;
}

.index-imgbox01 h1 {
    position: absolute;
    z-index: 3;
    left: 130px;
    top: 150px;
    font-size: 50px;
    color: white;
}

.index-imgbox01 p {
    position: absolute;
    z-index: 3;
    left: 200px;
    top: 230px;
    font-size: 30px;
    color: white;
}

.index-imgbox01 a{
    text-decoration: underline;
    color: rgb(233, 233, 233);
}

.index-imgbox01 a:hover{
    color: #96ccf2;
}

/* Index page - middle part*/



/* Profile page */

.profile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.profile-section h2{
    font-size: 5rem;
    text-decoration: none;
}

label{
    display: block;
    margin: 0.5rem 0;
    font-size: 2rem;
    color:#464646;
    font-weight: 500;
}

.motivation-section{
    padding: 3rem 2rem;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.motivation-section p{
    color:#464646;
    font-size: 1.5rem;
    font-weight: 500;
}

.future-goal{
    width: 90%;
    padding-left: 6rem;
}

.swot-section{
    padding: 2rem 3rem 3rem 2rem;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.swot-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 100rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

fieldset{
    margin: 0;
    width: 30rem;
    border-width: 3px;
    border-color: #0000008f;
}

legend{
    font-size: 1.8rem;
    font-weight: 700;
}

fieldset p{
    color:#464646;
    font-size: 1.3rem;
}

footer{
    margin: auto;
    padding: auto;
    text-align: center;
}
