/* Blog page - main page*/

.blog{
    margin-top: 100px;
    margin-bottom: 50px;
    height: auto;
}

.blog-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
}

.blog-grid a{
    text-decoration: none;
    color: black;
}

.blog-grid-item{
    background-color: rgba(190, 213, 248, 0.2);
    padding: 20px;
    height: 230px;
    width: 330px;
    border-radius: 20px;
}

.blog-grid-item h3{
    font-size: 1.5rem;
}

.blog-grid-item h4{
    font-weight: 300;
    margin-bottom: 20px;
}

.blog-grid-item p{
    height: 30px;
    font-size: 1rem;
    margin-bottom: 70px;
}

.readmore{
    font-size: 1.1rem;
}

.readmore:hover{
    color: #517bae;
}




